<div class="center jumbotron">
    <h1>Welcome to MyRecipie App</h1>
    <h2>This is the professional course on udemy</h2>
    
    <%= link_to "Sign Up Now","", class: "btn btn-default btn-warning" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View Recipes as guest User </h3>
        <h2 class ="left"> Browse and view recipe as a Guest</h2>
        <%= link_to "Browse Receipe listings", "" , class: "btn btn-default btn-warning"  %></p>
    </div>
    

    <div class="col-lg-4">
        <h3 class="midrow">View Recipes as guest User </h3>
        <h2 class ="left"> Browse and view recipe as a Guest</h2>
        <%= link_to "Browse Receipe listings", "" , class: "btn btn-default btn-warning"  %></p>
    </div>
    

    <div class="col-lg-4">
        <h3 class="midrow">View Recipes as guest User </h3>
        <h2 class ="left"> Browse and view recipe as a Guest</h2>
        <%= link_to "Browse Receipe listings", "" , class: "btn btn-default btn-warning"  %></p>
    </div>
    
</div>